# Base de datos PostgreSQL
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/finanzas_db"

# Servidor
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=cambia_esto_por_un_secreto_muy_largo_y_seguro_minimo_32_chars
JWT_EXPIRES_IN=7d

# CORS (en producción pon tu dominio: https://tudominio.com)
CORS_ORIGIN=*
